## Use the airquality Data Set. It contains Daily readings of the following air quality values for May 1, 1973 (a Tuesday) 
##to September 30, 1973.

## Data Dictionary
##Ozone: Mean ozone in parts per billion from 1300 to 1500 hours at Roosevelt Island

##Solar.R: Solar radiation in Langleys in the frequency band 4000â€“7700 Angstroms from 0800 to 1200 hours at Central Park

##Wind: Average wind speed in miles per hour at 0700 and 1000 hours at LaGuardia Airport

##Temp: Maximum daily temperature in degrees Fahrenheit at La Guardia Airport.

##Month: Month (in numbers 1 for Jan, 2 for Feb and so on)

##Day: Day (in numbers)

## Based on the dataset, answer the following.

## Standard Imports - pandas and numpy

In [1]:
import pandas as pd
import numpy as np

## Q1. Import the DataSet into Jupyter Notebook.

In [2]:
df = pd.read_csv('airquality.csv')

## Q2. How many observations are there in the object you just imported?

In [3]:
df.shape

(153, 6)

## Q3. How many Missing Values are there in the column Solar.R?

In [5]:
df.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

## Q4. What was the Ozone Levels on 7th July?

In [9]:
df.head()
df[(df['Day'] == 7) & (df['Month'] == 7)]['Ozone']

67    77.0
Name: Ozone, dtype: float64

## Q5. What has been the average temperature in the month of September?

In [17]:
df[df['Month'] == 9]['Temp'].mean()

76.9

## Q6. What was the maximum windspeed observed in July?

In [18]:
df[df['Month'] == 7]['Wind'].max()

14.9

## Q7. Which month has the day with minimum amount of Solar Radiation?

In [22]:
df.sort_values(by='Solar.R').head(1)

    Ozone  Solar.R  Wind  Temp  Month  Day
81   16.0      7.0   6.9    74      7   21

## Q8. Which month has the coldest day?

In [23]:
df.sort_values(by='Temp').head(1)

   Ozone  Solar.R  Wind  Temp  Month  Day
4    NaN      NaN  14.3    56      5    5

## Q9. Which was the hottest day? (Only day not month)

In [24]:
df.sort_values(by='Temp',ascending=False).head(1)

     Ozone  Solar.R  Wind  Temp  Month  Day
119   76.0    203.0   9.7    97      8   28

## Q10. Which day had Ozone Level of 78 and Temperature of 86 (Day and Month)

In [26]:
df[(df['Ozone'] == 78) & (df['Temp'] == 86)]

    Ozone  Solar.R  Wind  Temp  Month  Day
95   78.0      NaN   6.9    86      8    4